@{
    ViewData["Title"] = "Registration Page";
}
<section class="h-100 bg-dark">
    <form>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card card-registration my-4">
                    <div class="row g-0">
                        <div class="col-xl-6 d-none d-xl-block">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                                alt="Sample photo" class="img-fluid"
                                style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                        </div>
                        <div class="col-xl-6">
                            <div class="card-body p-md-5 text-black">
                                <h3 class="mb-5 text-uppercase">Student registration form</h3>

                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input type="number" id="form3Example1m" class="form-control form-control-lg"
                                                name="rollNo"/>
                                            <label class="form-label" for="form3Example1m">Roll No</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input type="text" id="form3Example1n" class="form-control form-control-lg"
                                                name="FullName"/>
                                            <label class="form-label" for="form3Example1n">Full Name</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input type="text" id="form3Example1m1" class="form-control form-control-lg"
                                                name="MotherName"/>
                                            <label class="form-label" for="form3Example1m1">Mother's name</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input type="text" id="form3Example1n1" class="form-control form-control-lg"
                                                name="FatherName"/>
                                            <label class="form-label" for="form3Example1n1">Father's name</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="date" id="form3Example9" class="form-control form-control-lg"
                                        name="DOB"/>
                                    <label class="form-label" for="form3Example9">DOB</label>
                                </div>

                                <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">

                                    <h6 class="mb-0 me-4">Gender: </h6>

                                    <div class="form-check form-check-inline mb-0 me-4">
                                        <input class="form-check-input" type="radio" name="Gender"
                                            id="femaleGender" value="option1" />
                                        <label class="form-check-label" for="femaleGender">Female</label>
                                    </div>

                                    <div class="form-check form-check-inline mb-0 me-4">
                                        <input class="form-check-input" type="radio" name="Gender"
                                            id="maleGender" value="option2" />
                                        <label class="form-check-label" for="maleGender">Male</label>
                                    </div>

                                    <div class="form-check form-check-inline mb-0">
                                        <input class="form-check-input" type="radio" name="Gender"
                                            id="otherGender" value="option3" />
                                        <label class="form-check-label" for="otherGender">Other</label>
                                    </div>

                                </div>

                                <div class="form-outline mb-4">
                                    <input type="text" id="form3Example8" class="form-control form-control-lg"
                                        name="Address"/>
                                    <label class="form-label" for="form3Example8">Address</label>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-4">

                                        <select class="select" name="state">
                                            <option value="null">State</option>
                                            <option value="Delhi">Delhi</option>
                                            <option value="Mumbai">Mumbai</option>
                                            <option value="Bihar">Bihar</option>
                                        </select>

                                    </div>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="number" id="form3Example90" class="form-control form-control-lg" name="PinCode"/>
                                    <label class="form-label" for="form3Example90">Pincode</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="text" id="form3Example99" class="form-control form-control-lg" name="Course"/>
                                    <label class="form-label" for="form3Example99">Course</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="email" id="form3Example97" class="form-control form-control-lg" name="Email"/>
                                    <label class="form-label" for="form3Example97">Email ID</label>
                                </div>
                                <div class="form-outline mb-4">
                                    <input type="password" id="form3Example97" class="form-control form-control-lg" name="Password"/>
                                    <label class="form-label" for="form3Example97">Password</label>
                                </div>

                                <div class="d-flex justify-content-end pt-3">
                                    <button type="button" class="btn btn-light btn-lg">Reset all</button>
                                    <button type="submit" class="btn btn-warning btn-lg ms-2" formaction="/Home/InsertData">Submit form</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
</section>